body {
  color: rgba(0, 0, 0, 0.87);
}

.App {
  text-align: center;
  min-height: 100vh;
  margin: auto;
  background-color: #fdfdfd;
  display:flex;
  flex-direction:column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-footer {
  margin-top: auto;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #ababab;
  color: #fdfdfd;
  .footer-text {
    margin-top: 7px;
  }
}



.main-view {
  display: inline-flex;
  margin-left: 0;
  width: 100%;
  height: calc(100vh - 90px);
}
